<div class="row">
    <div class="col">
        <div class="card" id="total-order">
            <div class="card-header">
                <h4 align='center'>Total Order</h4>  
            </div>
            <div class="card-body">
            <h4 align='center'>{{total_orders}}</h4>
            </div>
          </div>
    </div>

    <div class="col">
        <div class="card" id="pending">
            <div class="card-header">
                <h4 align='center'>Order Delivered</h4>  
            </div>
            <div class="card-body">
            <h4 align='center'>{{delivered}}</h4>
            </div>
          </div>
    </div>

    <div class="col">
        <div class="card" id="delivered">
            <div class="card-header">
                <h4 align='center'>Order Pending</h4>  
            </div>
            <div class="card-body">
            <h4 align='center'>{{pending}}</h4>
            </div>
          </div>
    </div>
</div>